@import url("https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap");

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");

body { font-family: 'Chocolate Drink', serif;font-size: 15px;margin: 0px;}

h1, h2, h3 {font-family: 'Franklin Gothic Heavy', sans-serif;font-weight: bold;}

h2 {font-family: 'Franklin Gothic Heavy',sans-serif;font-weight: bold;color: #F88E55 }

h1 {font-family: 'Franklin Gothic Heavy',serif;font-weight: bolder;color: #F88E55 }
a {text-decoration: none;}